/* src/app/category/CategoryPage.module.css */
.categoryPage {
  padding-top: 2%;
}

.moviesList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Match the gap with MovieList */
  justify-content: center; /* Center items horizontally */
}

.movieItem {
  width: 15rem;
  height: 25rem; /* Match the height with MovieList */
  margin: 0.5rem; /* Match margin with MovieList */
}

.movieImg {
  width: 100%;
  height: 400px; /* Match the height with MovieList */
  object-fit: cover;
}

.movieBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
