body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  :root {
    --bs-primary: #61dafb; /* Custom primary color */
    --bs-secondary: #21a1f1; /* Custom secondary color */
  }
  
  .navbar {
    background-color: var(--bs-primary); /* Use custom color */
  }
  
  .navbar .nav-link {
    color: #ffffff; /* Link color */
  }

  .card {display:inline-block !important}
  .card-img-top {
    width: 100%; /* Makes the image take the full width of its container */
    height: auto; /* Maintains the aspect ratio */
    object-fit: cover; /* Ensures the image covers the entire container */
  }
  